{
{% if docker is defined %}
  {% if docker.userns_remap is defined %}
    "userns-remap": "{{ docker.userns_remap }}",
  {% endif %}
  {% if docker.ipv6 | default(false) %}
    "ipv6": true,
  {% endif %}
  {% if not (docker.userland_proxy | default(true)) %}
    "userland-proxy": false,
  {% endif %}
  {% if docker.fixed_cidr_v6 is defined %}
    "fixed-cidr-v6": "{{ docker.fixed_cidr_v6 }}",
  {% endif %}
    "log-driver": "{{ docker.log_driver | default(docker_default.log_driver) }}",
    "log-opts": {{ docker.log_opts | default(docker_default.log_opts) | to_json }}
{% else %}
    "log-driver": "{{ docker_default.log_driver }}",
    "log-opts": {{ docker_default.log_opts | to_json }}
{% endif %}
}
